@font-face {
  font-family: 'AeonikPro';
  src: url('/fonts/AeonikProTRIAL/AeonikProTRIAL-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'AeonikPro';
  src: url('/fonts/AeonikProTRIAL/AeonikProTRIAL-Bold.otf') format('opentype');
  font-weight: 700;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

body {
  font-family: 'AeonikPro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}
